body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(./Home/Home.png) no-repeat center fixed;
  -webkit-backround-size:cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
}

.homepage{
  margin-left:20px;
  margin-right: 20px;
  padding-top:3vh;
}

footer{
  bottom: 0;
  font-size: 0.8rem;
  letter-spacing: 3px;
  position: fixed !important;
}

.container{
  margin:0 !important;
}

.navbar-dark .navbar-toggler {
  border-color:rgba(255,255,255,.5)!important;
}

h1{
  font-size: 5rem;
  color:white;
}


.logo{
  color:white;
  letter-spacing: 0.2rem;
}

.banner{
    place-content: center;
    margin: 0;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
  font-weight: 500;
}

.btn-primary{
  background-color: transparent;
  border-color: white;
}

.btn-primary:hover{
  background-color:#6f684c !important ;
  border-color: #6f684c;
  color:white ;
  
}

.btn-xl{
  padding: 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.link-text{
  color:white !important;
}

.link-text:hover{
  color:#6f684c !important;
}

.gap{
  gap: 2vw;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 4rem;
  }

  footer{
    font-size: 0.5rem;
  }
}