.about{
     background: linear-gradient(to left,rgb(68 65 60) ,rgb(40 39 37));
     background: -moz-linear-gradient(to left,rgb(68 65 60) ,rgb(40 39 37));
     background: -o-linear-gradient(to left,rgb(68 65 60) ,rgb(40 39 37));
     background: -webkit-linear-gradient(right,rgb(68 65 60) ,rgb(40 39 37));
    font-family: 'Montserrat', sans-serif;
}

.banner2{
    margin:0;
    padding: 0 3% 2.5% 3%;
    justify-content: center;
}

.aboutHeader{
    text-align:right;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    color:#c4baa6;
    font-family: 'Cormorant Garamond', serif;
}

.card-style{
    border: none;
}

.card-text{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
    
}
.site{
    font-size: 0.8rem;
}



